# Neo4j Configuration
NEO4J_USERNAME=your_neo4j_username_here
NEO4J_PASSWORD=your_neo4j_password_here
NEO4J_URL=your_neo4j_url_here

# Ollama Configuration
OLLAMA_MODEL=your_ollama_model_here
OLLAMA_EMBEDDING_MODEL=your_ollama_embedding_model_here
OLLAMA_REQUEST_TIMEOUT=your_ollama_request_timeout_here

# Data Path
DATA_PATH=your_data_path_here

# Schema
ENTITIES_LIST=""
RELATIONS_LIST=""
VALIDATION_SCHEMA=""

# Prompt
EXTRACTION_PROMPT=""